body {
    background-color: #f4f6f9;
    font-family: Arial, sans-serif;
}

#auth {
    width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 10px gray;
}

input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

button {
    width: 100%;
    margin-top: 10px;
}

#dashboard {
    margin-top: 30px;
}

.Balance {
    font-size: 30px;
    font-weight: bold;
    color: green;
}

